#root {
width: 100vw;
}
.leaflet-container {
  height: 80vh; 
  width: 100vw; 
  object-fit: cover;
}
.form-container{
  background-image: url("src/assets/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

